doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="bower_components/webcomponentsjs/webcomponents.js")
    link(rel="import" href="bower_components/voice-elements/dist/voice-player.html")
    //- link(rel="import" href="bower_components/voice-elements/dist/voice-recognition.html")
    script(src="main.js")
  body
    h1 Hello
    .app