doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="vendor/webcomponentsjs/webcomponents.js")
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="js/app.js")
    link(rel='stylesheet' href="css/main.css")
  body
    #app