doctype html
html(lang="en")
  head
    title= pageTitle
    script(src="vendor/webcomponentsjs/webcomponents.js")
    //- link(rel="import" href="bower_components/hot-table/src/hot-table.html")
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="vendor/handsontable/dist/handsontable.js")
    link(rel="stylesheet" href="vendor/handsontable/dist/handsontable.css")
    script(src="js/app.js")
    link(rel='stylesheet' href="css/main.css")
  body
    #app